*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#sessão, section {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}



#sessão{
    display: flex;
    background: radial-gradient(#504d5a00,rgba(2, 1, 14, 0));
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    padding: 100px;
    border: 4px solid rgba(0, 0, 0, 0.384);
    background: radial-gradient(#504d5a70,rgb(2, 1, 14));
    position: relative;
    font: normal 20px Arial;
    border-radius: 50px;
}

h1 {
    display: flex;
    background-color: rgba(128, 112, 133, 0.582);
    justify-content: center;
    margin-left: 10px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 50px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

button {
    background-color: rgb(255, 255, 255);
    font: normal 20px Arial;
    border-radius: 30px;
    width: 50%;
    margin-left: 25%;
}

.inputs {
    font-size: 20px;
    border-bottom: #504d5a;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(234, 226, 236, 0.39);
}

@media only screen and (max-width: 600px) {
    #background-video{
        height: 100%;
    }
    section {
        display: fixed;
        width: auto;
        padding: 30px;
        height: auto;
    }

    h1 {
        font-size: 1.5em;
    }

    .inputs, button {
        width: auto;
        height: 100%;
    }

    img {
        margin: 0 auto;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#background-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Para evitar que a imagem de fundo cause rolagem */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; /* Modificação aqui */
    object-fit: cover;
    z-index: -1;
}

#sessão {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1; /* Certifique-se de que o conteúdo esteja na frente da imagem de fundo */
}